<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/messageError.css">
    <title>Error</title>
</head>
<body>
    <section>
        <h1>Upss... Al parecer hubo un error al registrarte</h1>
        <img src="../static/img/page-not-found.png" alt="">
        <h1>Lo sentimos tus credenciales no estan permitidas en nuestra base de datos, si eres usuario de sumicenter utiliza las credenciales validas...</h1>
        <a href="{%url 'registro'%}"><button href="">Volver</button></a>
    </section>
</body>
</html>